<?xml version="1.0" encoding="UTF-8"?>

<!--
<phpunit
    processIsolation="true"
    bootstrap="./bootstrap.php"

    backupStaticAttributes="false"
    backupGlobals="false"

    cacheTokens="false"
    colors="always"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    mapTestClassNameToCoveredClassName="false"
    printerClass="PHPUnit_TextUI_ResultPrinter"

    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"

    strict="false"
    verbose="false"

    >

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>

            <file>/path/to/file</file>
            <exclude>
                <file>./boostrap.php</file>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="AllTests">
            <directory>.</directory>
        </testsuite>
    </testsuites>

</phpunit> -->

<!--printerFile="/path/to/ResultPrinter.php"-->
<!--testSuiteLoaderFile="/path/to/StandardTestSuiteLoader.php"-->

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
    backupGlobals="true"
    backupStaticAttributes="false"
    bootstrap="./bootstrap.php"
    cacheTokens="false"
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    mapTestClassNameToCoveredClassName="false"
    printerClass="PHPUnit\TextUI\ResultPrinter"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    testSuiteLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    verbose="false"
>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>

            <!-- <file>/path/to/file</file>-->
            <exclude>
                <file>./boostrap.php</file>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>

    <testsuites>
        <testsuite name="AllTests">
            <directory>./src</directory>
        </testsuite>
    </testsuites>
</phpunit>
